@font-face {
    font-family: 'graphik_trialbold';
    src: url('../fonts/graphik-bold-trial-webfont.woff2') format('woff2'),
         url('../fonts/graphik-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'graphik_triallight';
    src: url('../fonts/graphik-light-trial-webfont.woff2') format('woff2'),
         url('../fonts/graphik-light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'graphik_trialmedium';
    src: url('../fonts/graphik-medium-trial-webfont.woff2') format('woff2'),
         url('../fonts/graphik-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'graphik_regular_trialregular';
    src: url('../fonts/graphik-regular-trial-webfont.woff2') format('woff2'),
         url('../fonts/graphik-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'graphik_trialsemibold';
    src: url('../fonts/graphik-semibold-trial-webfont.woff2') format('woff2'),
         url('../fonts/graphik-semibold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}